@font-face {
    font-family: 'myFont';
    src: url('./glyphicons-halflings-regular.woff') format('woff'),
         url('./glyphicons-halflings-regular.woff2') format('woff2');

    font-weight: bold;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'myFont';
    background-image: url('./niao.png');
}