<!DOCTYPE html>
<html lang="en">
  <head>
    <title>webpack-vue</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    你可以用 v-model 指令在表单控件元素上创建双向数据绑定

    <div id="app">
      <input type="text" v-model="message">
      <p> {{ message }} </p>      

      <input type="checkbox" v-model="checked" id="checkBox" v-bind:true-value="1111" v-bind:false-value="222222">
      <label for="checkBox"> {{ checked }} </label>

      <br>

      <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
      <label for="jack">Jack</label>
      <input type="checkbox" id="john" value="John" v-model="checkedNames">
      <label for="john">John</label>
      <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
      <label for="mike">Mike</label>
      <br>
      <span>Checked names: {{ checkedNames }}</span>

      <br>

      <input type="radio" id="one" value="One" v-model="picked">
      <label for="one">One</label>
      <br>
      <input type="radio" id="two" value="Two" v-model="picked">
      <label for="two">Two</label>
      <br>
      <span>Picked: {{ picked }}</span>

      <br>

      <select v-model="selected">
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
      <span>Selected: {{ selected }}</span>
    </div>
  </body>
</html>